<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Logging</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/data_logging.css">
	<script src="/js/data_logging.js"></script>
</head>
<body>
    <nav>
        <h3>Imus Fire Information</h3>
        <ul >
            <li><a href="/">Fire Monitoring</a></li>
            <li><a href="/fire_data">Risk Assessment</a></li>
            <li><a href="/data_logging" class="active">Data Logging</a></li>
        </ul>
        <div>
            <p>Mohamad Ali Calanda</p>
        </div>
    </nav>
    <main>
		<div class="main_nav">
            <form class="options">
                <label for="cities">City or Municipality:
                    <select id="cities" name="municipality_city">
						<option value="" selected>All Local Government Unit</option>
						<option value="Imus">Imus City</option>
                        <option value="Alfonso">Alfonso</option>
                        <option value="Amadeo">Amadeo</option>
                        <option value="Bacoor">Bacoor City</option>
                        <option value="Carmona">Carmona City</option>
                        <option value="Cavite City">Cavite City</option>
                        <option value="Dasmariñas">Dasmariñas City</option>
                        <option value="General Emilio Aguinaldo">General Emilio Aguinaldo</option>
                        <option value="General Mariano Alvarez">General Mariano Alvarez</option>
                        <option value="General Trias">General Trias City</option>
                        
                        <option value="Indang">Indang</option>
                        <option value="Kawit">Kawit</option>
                        <option value="Magallanes">Magallanes</option>
                        <option value="Maragondon">Maragondon</option>
                        <option value="Mendez">Mendez</option>
                        <option value="Naic">Naic</option>
                        <option value="Noveleta">Noveleta</option>
                        <option value="Rosario">Rosario</option>
                        <option value="Silang">Silang</option>
                        <option value="Tagaytay">Tagaytay City</option>
                        <option value="Tanza">Tanza</option>
                        <option value="Ternate">Ternate</option>
                        <option value="Trece Martires">Trece Martires City</option>
                    </select>
                </label>
                <label for="satellite-data">Instrument:
                    <select id="satellite-data" name="instrument">
						<option value="" selected>All Instruments</option>
                        <option value="MODIS">MODIS</option>
                        <option value="VIIRS">VIIRS</option>
                    </select>
                </label>
                <label>Year
                    <select name="year">
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
						<option value="2023">2023</option>
						<option value="2024" selected>2024</option>
					</select>
                </label>
				<label>Confidence
					<input type="number" min="0" max="100" name="confidence" value="50">
				</label>
            </form>			
        </div>
        <div class="main_body">
            <table class="table-content">
                <tr>
					<th>LGU</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Acquired Date</th>
					<th>Acquired Time</th>
					<th>Instrument</th>
					<th>Confidence</th>
                </tr>
				<!-- The fire data inserted here through AJAX -->
              </table>
        </div>
    </main>
</body>
</html>