@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-2/Proxima_Nova_Regular.otf') format('opentype');
}
*{
    font-family: 'Proxima Nova', sans-serif;
    color: #43444E;
}
.custom_nav{
    border-bottom: 1px solid #43444E;
    margin: 0;
}
    .custom_nav a{
        color: #43444E;
        margin: 0 20px;
        display: inline-block;
    }
    .custom_nav div{
        width: 20%;
        margin-left: 0;
    }
    .custom_nav ul{
        display: inline-block;
    }
    .custom_nav ul li{
        display: inline-block;
    }
    .custom_nav .buttons{
        width: 500px;
        text-align: right;
    }
        .custom_signup{
            border-color: #f2725f;;
            color: #f2725f;
            display: inline-block;
        }
        .buttons p,
        .buttons #btn_logout{
            display: inline-block;
            margin-bottom: 0;
            display: none;
        }
        .buttons button,
        .buttons a{
            display: inline-block;
            margin-bottom: 0;
        }
    .custom_nav div
    .custom_signup{
        border-color: #f2725f;;
        color: #f2725f;
        margin: 0 20px
    }
main{
    height: 81vh;
    overflow: auto;
}
/* Image */
.image_wrapper{
    width: 50%;
    margin: 50px auto;
}
    main #image{
        width: 100%;
        box-shadow: 0px 0px 17px 14px rgba(0,0,0,0.1);
    }
    main #position{
        position: absolute;
        bottom: 65px;
        width: 100%;
        z-index: 5;
        border-radius: 0;
    }
    #position{
        -webkit-appearance: none; /* Remove default styling for WebKit browsers */
        appearance: none; /* Remove default styling for other browsers */
        width: 100%; /* Set width to fill parent container */
        height: 10px; /* Set desired height */
        background: #ddd; /* Set background color */
        border-radius: 0; /* Remove border-radius */
        outline: none; /* Remove default focus styling */        
    }
   
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Remove default styling for WebKit browsers */
        appearance: none; /* Remove default styling for other browsers */
        width: 20px; /* Set width of thumb */
        height: 20px; /* Set height of thumb */
        background: #f2725f; /* Set background color of thumb */
        border-radius: 50%; /* Round the thumb */
        cursor: pointer; /* Set cursor to pointer */
    }
/* Controls */
.controls{
    /* height: 70px; */
    width: 100%;
    background-color: #43444e;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    text-align: center;
    position: fixed;
}

    .controls button, 
    .controls select{
        background-color: #282828;
        color: white;
        border: none;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
        margin: 20px 10px;
    }
    .controls .volumes,
    .controls #volume{
        display: inline-block;
        vertical-align: middle;
    }
    .controls button{
        width: 70px;
    }
        .volumes img{
            width: 100%;
        }
        #volume{
            width: 300px;
        }
        #volume::-webkit-slider-thumb {
            width: 20px; /* Set the width of the thumb */
            height: 20px; /* Set the height of the thumb */
            background-color: #f2725f; /* Set the color of the thumb */
            border: 2px solid #333; /* Add a border around the thumb */
            border-radius: 50%; /* Make the thumb round */
         
            /* Center the thumb */
            position: relative;
            top: 100%;
            transform: translateY(-50%);
        }
    .controls select{
        width: 300px;
        
    }
        .controls select option{
            color: white;
        }
/*Login form*/
.login_background{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.login_form{
    background-color: white;
    width: 50%;
    height: 400px;
    margin: 100px auto;
    border-radius: 5px;
}
.login_form{
    width: 50%;
    padding: 20px;
}
    .login_form #message{
        text-align: center;
        color: red;
        font-size: 16px;
        height: 25px;
    }
    .login_form h3{
        text-align: center;
        margin: 15px 0;
    }
    .login_form label{
        display: block;
        border: 1px solid rgba(67, 68, 78, 0.5);
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
    }
        .login_form input{
            display: block;
            border: none;
            width: 100%;
        }
        input:focus {
            outline: none;
        }
        input[type="submit"]{            
            color: white;
            background-color: #f2725f;
            padding: 8px 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            width: 100px;
            font-weight: bolder;
            margin: 20px 0;
            display: inline-block;
        }
        .login_form p{
            display: block;
            font-size: 14px;
            border-top: #43444E;
        }
        .login_form a{
            color: #43444E;
            text-decoration: none;
            padding-left: 5px;
            color: #f2725f;
        }
/* logout form modal */
.logout_background{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.logout_modal{
    background-color: white;
    width: 30%;
    height: 300px;
    margin: 100px auto;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
    .logout_modal h3{
        text-align: center;
        margin-top: 20px;
    }
    .logout_modal p{
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
    }
    #btn_yes_logout{
        color: white;
        background-color: #f2725f;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        width: 100px;
        font-weight: bolder;
        margin: 20px 0;
        display: inline-block;
    }
/* save modal */
.save_background{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.save_modal{
    background-color: white;
    width: 30%;
    height: 300px;
    margin: 100px auto;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
    .save_modal h3{
        text-align: center;
        margin-top: 20px;
    }
    .save_modal p{
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
    }
    #btn_save_music{
        color: white;
        background-color: #f2725f;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        width: 100px;
        font-weight: bolder;
        margin: 20px 0;
        display: inline-block;
    }