main{
    padding: 0;
    margin: 0;
}
.navbar{
    /* position: fixed; */
    width: 100%;
}
.container{
    margin-top: 55px;
    /* width: 100%; */
    margin-left: 0;
    overflow: auto;
}
#openStatus{
    display: none;
}
.spinner-border span{
    color: var(--main-color);
}
.mapkey_link a{
    color: var(--main-color);
    text-decoration: none;
    opacity: 0.8;
}
.mapkey_link a:hover{
    opacity: 1;
}
@media screen and (min-width: 992px){
    .side-nav{
        position: fixed;
        margin-top: 54px;
        right: 0;
        background-color: var(--secondary-color);
        height: 100%;
    }
}
@media screen and (max-width: 991px){
    .container{
        height: 85vh;
    }
    .side-nav{
        background-color: var(--secondary-color);
    }
}
.main_nav{
    background-color: var(--secondary-color);
    z-index: 1;
    color: var(--main-color);
}
    .navigate-map label{
        border-radius: 0;
    }
    .form-floating .form-select,
    .form-floating .form-control{
        background-color: none;
        border-radius: 0;
        margin: 10px 0;
    }
    .form-floating .form-select:focus,
    .form-floating .form-control:focus{
        box-shadow: none;
        border: none;
    }