@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova-2/Proxima_Nova_Regular.otf') format('opentype');
}
*{
    font-family: 'Proxima Nova', sans-serif;
    color: #43444E;
}
.custom_nav{
    border-bottom: 1px solid #43444E;
    margin: 0;
}
    .custom_nav a{
        color: #43444E;
        margin: 0 20px;
        display: inline-block;
    }
    .custom_nav div{
        width: 20%;
        margin-left: 0;
    }
    .custom_nav ul{
        display: inline-block;
    }
    .custom_nav ul li{
        display: inline-block;
    }
    .custom_nav .buttons{
        width: 500px;
        text-align: right;
    }
        .custom_signup{
            border-color: #f2725f;
            color: #f2725f;
            display: inline-block;
        }
        .buttons p,
        .buttons #btn_logout{
            display: inline-block;
            margin-bottom: 0;
            display: none;
        }
        .buttons button,
        .buttons a{
            display: inline-block;
            margin-bottom: 0;
        }
        .active{
            font-weight: bolder;
        }
    .custom_nav div
    .custom_signup{
        border-color: #f2725f;;
        color: #f2725f;
        margin: 0 20px
    }
main{
    display: block;
}
    main h3{
        text-align: center;
        margin: 50px 0;
    }
    .file_div, .description{
        display: block;
        text-align: center;
    }
    .file_div p{
        text-align: center;
    }
    .file_div .choose_file{
        border: 2px dashed rgba(67, 68, 78, .1);
        margin: 0 auto;
        position: relative;
        border-radius: 10px;
        width: 50%;
        text-align: left;
    }
    .choose_file, .btn_upload{
        display: inline-block;
    }
        .choose_file input[type='file']{
            display: none;
        }
        #browse_file,
        .btn_upload{
            color: white;
            background-color: #f2725f;
            padding: 8px 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
        #browse_file{
            margin: 20px;
        }
        .btn_upload{
            display: none;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    .description{
        /* width: 50%; */
        margin: 0 auto;
        margin-top: 50px;
    }
        main p{
            font-size: 20px;
            text-align: center;
        }
footer{
    background-color: #f2725f;
    height: 100px;
    width: 100% ;
    position: absolute;
    bottom: 0;
}
/* For loader */
.loader_background{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f2725f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 250px auto;
}
.loader_background p{
    font-size: 2rem;
    position: absolute;
    bottom: 30%;
    text-align: center;
    width: 100%;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*Login form*/
.login_background{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.login_form{
    background-color: white;
    width: 50%;
    height: 400px;
    margin: 100px auto;
    border-radius: 5px;
}
.login_form{
    width: 50%;
    padding: 20px;
}
    .login_form #message{
        text-align: center;
        color: red;
        font-size: 16px;
        height: 25px;
    }
    .login_form h3{
        text-align: center;
        margin: 20px 0;
    }
    .login_form label{
        display: block;
        border: 1px solid rgba(67, 68, 78, 0.5);
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
    }
        .login_form input{
            display: block;
            border: none;
            width: 100%;
        }
        input:focus {
            outline: none;
        }
        input[type="submit"]{            
            color: white;
            background-color: #f2725f;
            padding: 8px 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            width: 100px;
            font-weight: bolder;
            margin: 20px 0;
            display: inline-block;
        }
        .login_form p{
            display: block;
            font-size: 14px;
            border-top: #43444E;
        }
        .login_form a{
            color: #43444E;
            text-decoration: none;
            padding-left: 5px;
            color: #f2725f;
        }
/* logout form modal */
.logout_background{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.logout_modal{
    background-color: white;
    width: 30%;
    height: 300px;
    margin: 100px auto;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
    .logout_modal h3{
        text-align: center;
        margin-top: 20px;
    }
    .logout_modal p{
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
    }
    #btn_yes_logout{
        color: white;
        background-color: #f2725f;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        width: 100px;
        font-weight: bolder;
        margin: 20px 0;
        display: inline-block;
    }