/*Main*/
main{
    width: 100%;
    height: 90%;
    white-space: nowrap;
    font-size: 0;
}
    .main_nav, .main_body{
        display: inline-block;
        vertical-align: top;
        height: 100%;
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
        font-size: 16px;
    }
    .main_nav{
        width: 20%;
        border-right: 1px solid black;
        padding: 20px;
    }
        .main_nav .options{
            height: 10vh;
        }
            .options select, 
            .options label,
            .options input[type='date'],
            .options input[type='number'],
            .options input[type='text']{
                display: block;
                width: 100%;
                margin: 3px 0;
                padding: 5px;
            }
            .options input[type='date']{
                opacity: 0.5;
            }
            .options div{
                margin-bottom: 10px;
                border-bottom: 1px solid black;
            }
    .main_body{
        width: 80%;
    }
        #map{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        